name: Google Indexing

on:
  push:
    branches:
      - main

jobs:
  indexing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Google Indexing API Action
        uses: robingenz/action-google-indexing@v1
        with:
          sitemap-url: https://your-website.com/sitemap.xml
          google-json-key: ${{ secrets.GOOGLE_JSON_KEY }}
